<form [formGroup]="form" (submit)="logIn()">
    <div class="all">
        <div class="contain">
            <div class="header">Login</div>
            <div class="email">
                <input type="email" (keyup)="disapear()" placeholder="Enter Your Email" formControlName="email">
                <div class="error" [ngStyle]="{'display': showMessage}"> {{message}}</div>
            </div>
            <div class="password">
                <input type="password" (keyup)="disapearPass()" placeholder="Enter Your Password"
                    formControlName="password">
                <div class="error" [ngStyle]="{'display': showMessagePass}"> {{messagePass}}</div>
            </div>

            <button type="submit" class="button">Login</button>
        </div>
    </div>

</form>