<body>
    <div class="all">
        <div class="input-feild">
            <input (keyup)="onKey($event)" placeholder="Enter a City " type="text">
        </div>
        <div class="contain">
            <div class="cities"(click)= "onClose(item.name)" *ngFor="let item of filterdCity">
                <h3>{{item.name}}</h3>
            </div>
        </div>
        <div>
            <img (click)= "onClose(city)"
                src="https://cdn1.iconfinder.com/data/icons/ui-color/512/Untitled-21-512.png">
        </div>
    </div>
</body>