<body>
    <div class="all">
        <h2> The expected weather in {{details.name}} in {{details.day}} </h2>
        <div class="contains">
            <div class="contain">Temperature</div>
            <div class="cont">{{details.temp}}</div>
            <div class="contain"> Wind's Speed </div>
            <div class="cont"> {{details.speed}}</div>
            <div class="contain"> Feels Like </div>
            <div class="cont"> {{details.feels_like}}</div>
            <div class="contain"> Max Temperature </div>
            <div class="cont"> {{details.temp_max}}</div>
            <div class="contain"> Min Temperature </div>
            <div class="cont"> {{details.temp_min}}</div>
            <div class="contain"> Pressure</div>
            <div class="cont"> {{details.pressure}}</div>
            <div class="contain"> Humidity </div>
            <div class="cont"> {{details.humidity}}</div>
            <div class="contain"> Weather Description </div>
            <div class="cont"> {{details.description}} </div>
            
        </div>
        <div>
            <img [routerLink]="[ '/home']"
                src="https://cdn1.iconfinder.com/data/icons/ui-color/512/Untitled-21-512.png">
        </div>
    </div>
</body>