body {
  height: 100%;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.today {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px 0px 2px;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  color: rgb(33, 33, 34);
  font-size: 50px;
  cursor: pointer;
}

.name {
  min-width: 250px;
  margin-top: 60px;
  font-size: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 10px;
}

.menus {
  width: 35px;
  height: 5px;
  background-color: rgb(33, 33, 34);
  margin: 6px 10px;
}


.weather-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  margin-top: 40px;
}

.weather-icons {
  margin-top: -25px;
}

.description {
  text-align: center;
  justify-content: center;
  font-size: 40px;
}

.day {
  min-width: 80px;
}

.forecasts {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  padding-top: 10px;
  
}

.forecast-icon {
  margin-top: -40px;
}

.min-temp {
  margin-left: 20px;
}