/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
}
html,body{
    height:100%;
    background: url(https://forums.androidcentral.com/attachments/samsung-galaxy-s5-active/131850d1407864962t-samsung-galaxy-s5-active-wallpaper-lockscreen_default_wallpaper.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}