<div *ngIf="details" class="all">
    <h3>City Name :{{details.name}} , In Country : {{details.sys.country}} </h3>
    <h4>The Temperature:{{details.main.temp}}</h4>
    <h4>The Wind's Speed : {{details.wind.speed}}</h4>
    <h4>The Feels Like : {{details.main.feels_like}}</h4>
    <h4>The Max Temperature: {{details.main.temp_max}}</h4>
    <h4>The Min Temperature : {{details.main.temp_min}}</h4>
    <h4>The Pressure: {{details.main.pressure}}</h4>
    <h4>The Humidity : {{details.main.humidity}}</h4>
    <h4>The Weather Description :{{details.weather[0].description}} </h4>
    <h4>The Timezone:{{details.timezone}} </h4>
    <h4>The Base :{{details.base}} </h4>
    <h4>The Visibility:{{details.visibility}} </h4>
</div>